.searchBar {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 1rem;
	width: 100%;
	input {
		padding: 10px;
		width: 100%;
	}

	input:focus {
		outline: none;
		color: blue;
	}
	.red {
		color: red;
	}
	.status {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 100%;
		margin: 20px 0;
	}
}
